body {
    background: darkseagreen;
}

header{
    text-align: center;
    color: #006400;
    font-family: fantasy;
}

nav.menu ul {
    overflow: hidden;
    color: #fff;
    list-style: none;
    float: left;
    padding: 0;
    width: 650px;
    margin: 0 0 0;
    background: #1abc9c;
}

nav.menu ul li {
    margin:0;
    float:left;
}

nav.menu ul a {
    padding:25px;
    display:block;
    font-weight:600;
    font-size: 16px;
    color:#fff;
    text-transform: uppercase;
    transition: all 0.5s ease;
    text-decoration: none;
}


.sidebar .widget {
    padding:25px;
    margin:0 0 25px;
    background:#fff;
    border-bottom: 2px solid #fff;
    transition: all 0.5s ease;
}

.sidebar .widget h2 {
    padding:0;
    margin:0 0 15px;
    color:#3498db;
    font-size: 18px;
    font-weight:800;
    text-transform: uppercase;
}

.sidebar .widget p {
    font-size: 14px;

}

.conteudo {
    width:600px;
    padding:25px;
    margin:25px auto;
    background: #fff;
    border:1px solid #dedede;

}


.conteudo h1 {
    padding:0;
    margin:0 0 15px;
    font-weight: normal;
    color: lightseagreen;
    font-family: Georgia;

}
.conteudo img {
    min-width: 650px;
    margin: 0 0 25px -25px;
    max-width: 650px;
}


@media screen and (max-width: 960px) {

    .header {
        position:initial;
    }

    .wrap {
        width: 100%;
        margin: 25px auto;
    }

    .sidebar {
        float: right;
    }


    nav.menu ul {
        width: 120%;
    }
    nav.menu ul {
        float: inherit;
    }

    nav.menu ul li {
        float: inherit;
        margin: 0;
    }

    nav.menu ul a {
        padding: 15px;
        font-size: 16px;
        border-top: 1px solid #1abf9f;
        border-bottom: 1px solid #16a085;
    }

    .conteudo {
        float: inherit;
        margin: 0 auto 25px;
        width: 101%;
        padding: 5%;
        background: #fff;
    }

    .conteudo img {
        max-width: 100%;
        margin: 0 0 25px -5%;
        min-width: 80%;
    }
}


@media screen and (max-width: 460px) {

    nav.menu ul a {
        padding:15px;
        font-size: 14px;
    }
    .conteudo img {
        margin:-5% 0 20px -5%;
    }
}
