body{
    background-color: gold;

}

header {
    background-color:sandybrown;
    text-align: center;
}

footer {
    background-color: sandybrown;
    font-family: fantasy;
    font-size: medium;

}
img {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    white-space: normal;
    width: 350px;

}

.wrapper {
    display: grid;
    grid-template-columns: 35% 30% 35%;
    grid-column-gap:1em ;
}

.wrapper > div {
    padding: 1em;

}
.wrapper > div:nth-child(ood){
    background: #af8d5a;
}
@media only screen and (max-width: 480px) {
    .col { margin: 1% 0 1% 150px;}
    .img ,footer,header { width: 100%;
    }
}
